<div class=" flex justify-center items-center bg-no-repeat w-full bg-center bg-cover h-36" style="background-image: url(../assets/wallpaper.jpg)"></div>
<nav class="flex justify-center align-middle items-center m-4 gap-3">
    <a class="bg-gray-300 border-white p-3 rounded-2xl cursor-pointer uppercase border-4 text-black font-bold hover:bg-white hover:border-gray-300" routerLink="characters">Characters</a>
    <a class="bg-gray-300 border-white p-3 rounded-2xl cursor-pointer uppercase border-4 text-black font-bold hover:bg-white hover:border-gray-300" routerLink="books">Books</a>
    <a class="bg-gray-300 border-white p-3 rounded-2xl cursor-pointer uppercase border-4 text-black font-bold hover:bg-white hover:border-gray-300" routerLink="houses">Houses</a>
</nav>

<router-outlet></router-outlet>